@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');

/*メイン*/
#top{
  /*width: 100%;*/
  height: 480px;
  background-color: #29ad3e;
  text-align: center;
  top: 20%;
}
#back{
  background-color: #e9ffe0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    padding: 4.8px 16px;
    width: calc(100% - 2rem);
    margin: 0;
    background: #29ad3e;
    color: white;
}

.header a {
    text-decoration: none;
    color: white;
}

.topcntnts{
  color:#fff;
  font-size: 60px;
  font-family: "Abel";
  padding-top: 160px;
}
.topcntnts img{
  border-radius: 80px;
 -moz-border-image: border-radius: 80px;
 -webkit-border-image: border-radius: 80px;
 width: 160px;
 border: solid #fff;
}
.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}
/*作品*/
.block{
  margin: 0;
  padding: 0;
  width: 100%;
}

.project{
  transition: all .3s;
  list-style: none;
  background-color: #fff;
  width: 280px;
  height: auto;
  flex-wrap: wrap;
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 #bbb;
  margin: 0 20px 20px 0;
  float: left;
  position: relative;
}
.project:hover{
  margin-top:-8px;
}
.project-title{
  color: #555;
  font-size: 24px;
  font-family: "Noto Sans Japanese";
}
.tag{
  color: #777;
  background: linear-gradient(transparent 70%, #fffd80 80%);
  font-size: 16px;
}
.contents{
  padding: 20px;
}
.setsumei{
font-size: 16px;
font-weight: 400;
color: #242424;
}
.contents img{
  object-fit: cover;
  width:240px;
  height:240px;
  object-position: 0 0;
}

.box {
    padding: 8px 16px;
    margin: 32px 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    width: 25%;
}
.box p {
    margin: 0; 
    padding: 0;
}

.boxs {
    padding: 8px 16px;
    margin: 32px 0;
    font-weight: bold;
    width: 50%;
    margin: 10px auto 10px;
    border: solid 2px #6091d3;
    border-radius: 10px;
    background: #FFF;
}

.boxs h1 {
    font-size: 25px;
}

.warn {
    padding: 1px 16px 1px;
    margin: 32px 0;
    font-weight: bold;
    width: 50%;
    margin: 10px auto 10px;
    border: solid 2px #FF0000;
    border-radius: 10px;
    background: #FFF;
}

.warn h1 {
    color: #FF0000;
}

.square_btn2 {
    display: inline-block;
    padding: 4.8px 16px;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.square_btn2:hover {
    background: #67c5ff;
    color: white;
}

.moji textarea {
    width: 25%;
}

@media screen and (max-width: 860px) {
  #top{
    height: 120px;
    background-color: #29ad3e;
    text-align: center;
    top: 20%;
  }
  .topcntnts img{
    width:80px;
    border-radius: 60px;
  }
  .topcntnts{
    padding-top: 20px;
  }
  .topcntnts p{
    display: none;
  }
  
  .box {
    width: 50%;
}

.boxs {
    width: auto;
}

.warn {
    width: auto;
}

.project{
      width: 100%;
}
.contents{
  padding: none;
}
.contents img{
  width:100%;
  height:100%;
}
.moji textarea {
    width: 100%;
}
}
