@import url('https://fonts.googleapis.com/css?family=Notable|Rationale|Six+Caps|Pattaya|Tenor+Sans|Allerta+Stencil|Lacquer|Changa|Economica|Orbitron|Play|Teko|Anton|Dosis|Lexend+Zetta|Lexend+Deca|Raleway|Roboto&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
    font-size: 16px;
    margin: 0;
}

select {
  font-size: 20px;
}

.main {
  height: 100%;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

header {
    top: 0;
    left: 0;
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
    background: #29ad3e;
    color: white;
    height: 40px;
}

header p {
    display: inline-block;
    margin: 0 0 0 10px;
}

.header-right {
  float: left;
}

.link {
  font-size: 20px;
  letter-spacing: -0.6px;
}

.header-left {
  float: right;
}

.header-left p {
  font-size: 20px;
}

span {
    font-size: 25px;
}

.font {
  color: white;
  background-color: #29ad3e;
}

.hours {
    font-size: 5em;
}

.days {
    font-size: 3em;
}

.view {
  margin: 100px 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 150%;
}

@media screen and (max-width: 860px) {
  body {
    width: 100%;
  }
}
