@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body {
  background: #F1F3CE;
  text-align: center; }
div {
  margin: 20px; }
p {
  font-size: 25px;
  margin-top: 15px; }
.title {
  height: 100px;
  padding-top: 50px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 45px;
  font-family: 'Noto Sans JP', sans-serif;
  font-display: swap }
.title span {
  background-color: #8cd460;
  border-radius: 10px;
  font-size: 45px;
  padding: 10px 20px; }
.container {
  padding-top: 70px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  padding: 1rem 2rem;
  background-color: #FFF;
  border-radius: .3rem;
  font-size: 1.25rem; }
a {
  cursor: pointer; }
.footer {
  margin-top: 75px;
  margin-bottom: -20px; }
.footer p {
  font-size: 15px; }
@media screen and (max-width: 380px){
  div {
    margin: 0; }
  .title span {
    font-size: 25px; }
  .title p {
    font-size: 15px;
    margin-top: 5px; }
}