@import url('./style.css');

.status {
  font-family: 'Noto Sans JP', sans-serif;
  font-display: swap }
#alert {
  color: #FF0000; }
.name {
  border: 2px #00C2FC solid;
  text-align: center;
  color: #333;
  width: 200px;
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px; }
.roulette {
  display: inline-block;
  line-height: 100px;
  width: 200px;
  border-radius: 20px;
  border: 2px #00C2FC solid;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Kosugi Maru', sans-serif;
  font-display: swap }
.btn {
  display: inline-block;
  background: #8cd460;
  color: rgba(255, 255, 255, 0.47);
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  border: solid 2px rgba(255, 255, 255, 0.47);
  transition: .4s;
  font-size: 25px;
  font-family: 'Noto Sans JP', sans-serif;
  font-display: swap }
.btn:hover {
  box-shadow: 0px 0px 0px 5px #8cd460; }
.btn:focus {
  outline-color: #dedede; }
@media screen and (max-width: 380px){
  .name {
    padding: 0;
    margin-bottom: 25px; }
  .roulette {
    margin-bottom: 25px; }
}