@import url('./style.css');

.result {
  background: #FFF;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  width: 200px;
  border-radius: 20px;
  border: 5px #8cd460 solid;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Kosugi Maru', sans-serif;
  font-display: swap }
a {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  border: solid 2px #000;
  color: #000;
  border-radius: 3px;
  transition: .4s;
  font-size: 20px;
  margin: 10px; }
.share-btn {
  margin: 40px;
  font-family: 'Noto Sans JP', sans-serif;
  font-display: swap }
a:hover {
  color: #FFF;
  background-color: #000; }
#twitter {
  color: #00aced;
  border: solid 2px #00aced; }
#twitter:hover {
  background: #00aced;
  color: #FFF; }
.container p {
  margin-bottom: 10px; }
.canvas-img p {
  font-size: 15px; }
canvas {
  width: 50%; }
@media screen and (max-width: 450px){
  canvas {
    width: 100%; }
}
@media screen and (max-width: 360px){
  .share-btn {
    margin: 30px 0; }
}