.post_btn {
    display: inline-block;
    padding: 4.8px 16px;
    text-decoration: none;
    background: #FFF;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.post_btn:hover {
    background: #67c5ff;
    color: white;
}