html {
    height: 100%;
    min-height: 450px;
    display: inline-flex;
    justify-content: center;
    /*align-items: center;*/
}

body {
    display: inline-block;
    min-width: 300px;
    margin: 24px;
}

h1 {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    width: calc(100% - 2rem);
    margin: 0;
    background: #29ad3e;
    color: white;
}

h1 p {
    font-size: 0.5rem;
    display: inline-block;
    margin: 0 0 0 10px;
}

h1 p a {
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 1.1rem;
    margin: 0;
}

body > * {
    margin-bottom: 24px;
}

form > * {
    margin-bottom: 12px;
}

form > div > * {
    margin-bottom: 6px;
}

.chars label, .length label {
    display: inline-block;
    width: 5em;
}

#submit, #copy {
    padding: 0.3em 6px;
    border-width: 2px;
}

#submit {
    width: 4rem;
    margin-top: 12px;
    margin-left: calc((100% - 4rem - 12px - 4px) / 2);
}

#copy {
    width: 4rem;
}

.password {
    padding: 0.3em 6px;
    border-width: 2px;
    width: calc(100% - (4rem + 2px * 2) - (12px + 4px));
    max-width: 32em;
}

.box {
    padding: 8px 16px;
    /*margin: 32px 0;*/
    border: solid 1px #000;/*線*/
    border-radius: 10px;/*角の丸み*/
}

/*全体*/
.hidden_box {
    margin: 2em 0;
    padding: 0;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
    transition: 0.5s;
}